{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>主机列表</title>
{% endblock title %}

{% block navheader %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>主机列表</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'assets:dashboard' %}">首页</a></li>
                        <li class="breadcrumb-item active">主机列表</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock navheader %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                主机列表{% if request.session.is_superuser %}
                <a href="{% url 'server:host_add' %}"
                   class="btn btn-sm btn-primary ml-3">添加</a>
            {% endif %}
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive">
            <table id="assets-lists" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>环境</th>
                    <th>IP</th>
                    <th>是否启用</th>
                    <th>端口</th>
                    <th>系统</th>
                    <th>用户名</th>
                    <th>添加时间</th>
                    <th>终端</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for host in hosts %}
                    <tr id="{{ host.pk }}">
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'server:host_detail' host.pk %}">{{ host.hostname }}</a></td>
                        <td>{{ host.get_env_display }}</td>
                        <td>{{ host.int_ip }}</td>
                        <td>{% if host.enabled %}<span class="badge badge-success">启用</span>{% else %}<span class="badge badge-danger">禁用</span>{% endif %}</td>
                        <td>{{ host.port }}</td>
                        <td>{{ host.release }}</td>
                        {% if host.remote_user %}
                            <td>{{ host.remote_user.username }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ host.create_time|date:"Y/m/d H:i:s" }}</td>
                        <td>
                            {% if host.remote_user and host.enabled %}
                                <form method="post" action="{% url 'webssh:terminal' %}" target="_blank">
                                    {% csrf_token %}
                                    <input type="text" name="hostid" value="{{ host.id }}" hidden>
                                    <button type="submit" class="btn btn-sm btn-primary mb-1"><i class="fas fa-network-wired"></i>连接</button>
                                </form>
                            {% endif %}
                        </td>

                        <td>

                                <a href="{% url 'server:host_edit' host.pk %}" class="btn btn-info btn-sm mb-1"><i class="fas fa-pencil-alt"></i>修改</a>
                                <a href="javascript:void(0)" id="{{ host.id }}" title="{{ host.hostname }}"
                                   onclick="createdeletemodal(this);" class="btn btn-danger btn-sm mb-1"><i class="fas fa-trash"></i>删除</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <!--删除确认窗口-->
    <div id="modal-container">
    </div>

{% endblock content %}

{% block js %}
    <script>
        createdeletemodal = function (event) {
            var thisObj = $(event);	//js对象转jquery对象
            var host_id = thisObj.attr('id');
            var host_name = thisObj.attr("title");
            // 生成弹出框，使用 \ 换行
            $("#modal-container").html('<div id="modal-delete-' + host_id + '" class="iziModal"><div class="container-fluid"><div class="row">\
									<div class="col-12 p-3"><h5 class="text-center mt-3">确定要删除主机 "' + host_name + '" 吗？</h5></div><div class="col-6 p-3">\
									<button type="button" class="btn btn-block btn-secondary btn-flat" data-iziModal-close>取消</button></div><div class="col-6 p-3">\
									<a href="javascript:void(0)"><button type="button" class="btn btn-block btn-success btn-flat" id="' + host_id + '-yes" title="\
									' + host_name + '" onclick="deletethis(this);">确定</button></a></div></div></div></div>');

            // 初始化弹出框
            $("#modal-delete-" + host_id).iziModal({
                iconClass: 'icon-announcement',
                width: 450,
                //padding: 10,
                overlayClose: false,	// 是否允许点击模态窗口的外部来关闭模态窗口。
                closeOnEscape: false, 	// 是否允许通过点击ESC键来关闭模态窗口。
            });

            // 打开弹出框
            $('#modal-delete-' + host_id).iziModal('open');
        }


        deletethis = function (event) {
            toastr.options.closeButton = true;
            toastr.options.showMethod = 'slideDown';
            toastr.options.hideMethod = 'fadeOut';
            toastr.options.closeMethod = 'fadeOut';
            toastr.options.timeOut = 4000;
            toastr.options.extendedTimeOut = 0;

            var thisObj = $(event);	//js对象转jquery对象
            var host_id = thisObj.attr('id').split("-")[0];
            var host_name = thisObj.attr("title");
            csrfmiddlewaretoken = '{{ request.COOKIES.csrftoken }}';
            $.ajax({
                url: "{% url 'server_api:host_delete' %}",
                async: true,
                type: 'POST',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': csrfmiddlewaretoken,
                    'id': host_id,
                },
                timeout: 10000,
                cache: true,
                beforeSend: LoadFunction, //加载执行方法
                error: errFunction,  //错误执行方法
                success: succFunction, //成功执行方法
            });

            function LoadFunction() {
                //$("#aboutcontent").html('删除中...');
                //alert('删除中');
            };

            function errFunction() {
                // 关闭弹出框
                $('#modal-delete-' + host_id).iziModal('close');
                // 消息框
                toastr.error('删除错误 "' + host_name + '"');
            };

            function succFunction(res) {
                if (res.code != 200) {
                    // 关闭弹出框
                    $('#modal-delete-' + host_id).iziModal('close');
                    // 消息框
                    toastr.error('删除错误 "' + host_name + '": ' + res.err);
                } else {
                    // 关闭弹出框
                    $('#modal-delete-' + host_id).iziModal('close');
                    // 消息框
                    toastr.options.timeOut = 1000;
                    toastr.options.onHidden = function () {
                        window.location.href = "{% url 'server:host_lists' %}";
                    }

                    // 消息框
                    toastr.success('成功删除 "' + host_name + '"');

                }
            };
        }
        // 删除
    </script>
{% endblock js %}