{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>资产信息设置</title>
{% endblock title %}

{% block navheader %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>资产信息设置</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'assets:dashboard' %}">首页</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'assets:server' %}">资产列表</a></li>
                        <li class="breadcrumb-item active">资产信息设置</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock navheader %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">资产信息设置</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body row">
            <input type="text" id="asset_id" value="{{ asset.id }}" hidden>
            <div class="col-2 pt-1 pb-1">主机名称<span style="color:red;"> * </span>：</div>
            <div class="col-10 pt-1 pb-1"><input class="form-control" type="text" id="hostname"
                                                 value="{{ asset.hostname }}" disabled></div>

            <div class="col-2 pt-1 pb-1">业务线<span style="color:red;"> * </span>：</div>
            <div class="col-10 pt-1 pb-1">
                <select class="form-control" id="business_id" style="width: 100%;">
                    <option value="{{ asset.business_unit.id }}" selected="selected">{{ asset.business_unit.name }}</option>
                    {% for bus in other_business %}
                        <option value="{{ bus.id }}">{{ bus.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-2 pt-1 pb-1">机房<span style="color:red;"> * </span>：</div>
            <div class="col-10 pt-1 pb-1">
                <select class="form-control" id="idc_id" style="width: 100%;">
                    <option value="{{ asset.idc.id }}" selected="selected">{{ asset.idc.name }}</option>
                    {% for idc in other_idc %}
                        <option value="{{ idc.id }}">{{ idc.name }}</option>
                    {% endfor %}
                </select>
            </div>



            <div class="col-2 pt-1 pb-1">添加方式<span style="color:red;"> * </span>：</div>
            <div class="col-10 pt-1 pb-1">
                <select class="form-control" id="created" style="width: 100%;">
                    {% for created in created_by_choice %}
                        <option value="{{ created.0 }}"
                                {% if asset.created_by == created.0 %}selected="selected"{% endif %}>{{ created.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-2 pt-1 pb-1">设备状态<span style="color:red;"> * </span>：</div>
            <div class="col-10 pt-1 pb-1">
                <select class="form-control" id="status" style="width: 100%;">
                    {% for status in asset_status %}
                        <option value="{{ status.0 }}"
                                {% if asset.status == status.0 %}selected="selected"{% endif %}>{{ status.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-2 pt-1 pb-1">备注：</div>
            <div class="col-10 pt-1 pb-1"><textarea id="memo"
                                                    class="form-control">{{ asset.memo | default:'' }}</textarea></div>
            <div class="offset-2 col-10 pt-2">
                <a class="btn btn-default" href="{% url 'assets:server' %}">返回</a>
                <button class="btn btn-success ml-2" onclick="changeasset(this);">提交</button>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
{% endblock content %}

{% block js %}

    <script>
        // 修改用户信息
        changeasset = function (event) {
            toastr.options.closeButton = true;
            toastr.options.showMethod = 'slideDown';
            toastr.options.hideMethod = 'fadeOut';
            toastr.options.closeMethod = 'fadeOut';
            toastr.options.timeOut = 3000;
            toastr.options.extendedTimeOut = 0;
            toastr.options.progressBar = true;
            toastr.options.positionClass = 'toast-top-right';

            $(event).removeAttr("onclick");
            $(event).attr("disabled", true);

            var asset_id = $('#asset_id').val();
            var memo = $('#memo').val();
            var business_id = $('#business_id').val();
            var idc_id = $('#idc_id').val();

            var created = $("#created").find("option:selected").val();
            var status = $("#status").find("option:selected").val();



            csrfmiddlewaretoken = '{{ request.COOKIES.csrftoken }}';

            $.ajax({
                url: "{% url 'assets_api:server_update' %}",
                async: true,
                type: 'POST',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': csrfmiddlewaretoken,
                    'asset_id': asset_id,
                    'created': created,
                    'status': status,
                    'memo': memo,
                    'business_id': business_id,
                    'idc_id': idc_id,
                },
                timeout: 5000,
                cache: true,
                beforeSend: LoadFunction, //加载执行方法
                error: errFunction,  //错误执行方法
                success: succFunction, //成功执行方法
            });

            function LoadFunction() {
                // 提交中
            };

            function errFunction() {
                // 消息框
                toastr.error('更新资产信息错误');
                $(event).removeAttr("disabled");
                $(event).attr("onclick", "changeasset(this);");
            };

            function succFunction(res) {
                if (res.code != 200) {
                    // 消息框
                    toastr.error('更新资产信息错误: ' + res.err);
                    $(event).removeAttr("disabled");
                    $(event).attr("onclick", "changeasset(this);");
                } else {
                    // 消息框
                    toastr.options.timeOut = 1000;
                    toastr.options.onHidden = function () {
                        window.location.href = "{% url 'assets:server_detail' asset.id %}";
                    }
                    toastr.success('更新资产信息成功');
                }
            };
        }

        // 左右选项框
        $(function () {
            //移到右边
            $('#add').click(function () {
                //获取选中的选项，删除并追加给对方
                $('#select1 option:selected').appendTo('#select2');
            });
            //移到左边
            $('#remove').click(function () {
                $('#select2 option:selected').appendTo('#select1');
            });

            //全部移到右边
            $('#add_all').click(function () {
                //获取全部的选项,删除并追加给对方
                $('#select1 option').appendTo('#select2');
            });
            //全部移到左边
            $('#remove_all').click(function () {
                $('#select2 option').appendTo('#select1');
            });

            //双击选项
            $('#tag_select_left').dblclick(function () { //绑定双击事件
                //获取全部的选项,删除并追加给对方
                $("option:selected", this).appendTo('#tag_select_right'); //追加给对方
            });
            //双击选项
            $('#tag_select_right').dblclick(function () {
                $("option:selected", this).appendTo('#tag_select_left');
            });
        });

    </script>
{% endblock js %}
