{% extends 'base.html' %}
{% load static %}

  {% block title %}
  <title>在线会话日志</title>
  {% endblock title %}

{% block navheader %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>在线会话日志</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'assets:dashboard' %}">首页</a></li>
                        <li class="breadcrumb-item active">主机用户</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock navheader %}

		  {% block content %}
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">在线会话日志</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="assets-lists" class="table table-bordered table-striped">
                <thead>
                <tr>
				  <th>操作人</th>
				  <th>主机名</th>
				  <th>主机IP</th>
				  <th>端口</th>
				  <th>用户名</th>
				  <th>命令详情</th>
				  <th>IP地址</th>
				  <th>User_Agent</th>
				  <th>会话开始时间</th>
				  <th>事件时间</th>
                </tr>
                </thead>
                <tbody>
				{% for log in logs %}
                <tr>
				  <td>{{ log.user | default:'N/A' }}</td>
				  <td>{{ log.hostname }}</td>
				  <td>{{ log.ip }}</td>
				  <td>{{ log.port }}</td>
				  <td>{{ log.username }}</td>
				  <td>{{ log.cmd | linebreaksbr | truncatechars_html:15 | default:'N/A' }}<br>...</td>
				  <td>{{ log.address | default:'N/A' }}</td>
				  <td>{{ log.useragent | truncatechars_html:20 | default:'N/A' }}...</td>
				  <td>{{ log.start_time | date:"Y/m/d H:i:s" }}</td>
				  <td>{{ log.create_time | date:"Y/m/d H:i:s" }}</td>
                </tr>
				{% empty %}
                <tr>没有数据！</tr>
				{% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
		  {% endblock content %}